body {
    background: linear-gradient(rgba(252, 252, 252, 0.502), rgb(255, 255, 255, 0.5)), url("img/Best-PC-Games.jpg");
    margin: 0%;

}

header {
    width: 100vw;
    height: 50px;
    background-color: rgba(5, 5, 125, 0.844);
    position: fixed;
    z-index: 5;
    margin: 0;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

main {
    margin-top: 60px;
}

.a {
    width: 57px;
    border-radius: 50%;
}

a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    margin: 0;
}

a:hover {
    background-color: rgba(145, 142, 142, 0.571);
    border-radius: 10px;
    cursor: pointer;
}

footer {
    background-color: rgb(62, 66, 64);
    color: aliceblue;
    text-align: center;
    margin-bottom: 0;
}

p {
    margin: 0;
    padding: 8px;
}

.grid_nok {
    display: grid;
    grid-template-columns: 700px 700px;
    row-gap: 10px;
    column-gap: 0px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

}

.grid_block {
    background: rgb(0, 0, 0);
    height: 360px;
}

.image {
    width: 100%;
    height: 100%;
}

h2 {
    color: white;
    font-family: "Tilt Prism", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "XROT" 0,
        "YROT" 0;
    font-size: 40px;
}

h4 {
    color: white;
    font-size: 24px;
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.grid_blockt {
    background: rgb(0, 0, 0);
    height: 360px;
    text-align: center;
}

.button {
    background-color: brown;
    border-radius: 8px;
    padding: 5px;
}

.button:hover {
    background-color: rgb(53, 136, 31);
}

.kami3 {
    display: flex;
    width: 90%;
    padding: 10px;
    background-color: black;
    margin: 100px;
}

.kami3 {
    display: flex;
    flex-direction: column;
    background-color: rgb(5, 0, 0);
    gap: 20px;
    flex: 1;
    border-radius: 50px;
    padding: 20px;
}

.kami4 {
    display: flex;
    background-color: rgba(123, 123, 123, 0.353);
    border-radius: 50px;
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 45px;
    color: pink;
}

iframe {
    border-radius: 50px;
    transform: translateY(10px);
}

.Kami8 {
    display: grid;
    background-color: rgba(16, 16, 109);
    grid-template-columns: repeat(5, 19%);
    grid-template-rows: 500px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    gap: 20px;
}

.card {
    background-color: crimson;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    align-content: space-around;
    border-radius: 20px;
    text-align: center;
    opacity: 0.5;
}

.card iframe {
    height: 500px;
    width: 300px;
}

.card button {
    z-index: 1;
    width: 200px;
    margin: 5px 48px;
    height: 30px;
}

.card:hover {
    opacity: 1;}

.Kami20{
    background-color: black;
    border-radius: 20px;
    margin-top: 52px;
    padding: 30px;
    width: 1600px;
    margin:0 auto;
    margin-bottom: 10px;
}
.Kami21{
    margin-top:52px;
    color: #fff;
}

      



.header-row {
           display: flex;
           justify-content: space-between;
           padding: 10px 15px;
           border-bottom: 1px solid #333;
           color: #999; /* Сірий колір заголовків */
           font-size: 0.9em;
           text-transform: uppercase;
       }




       .data-row {
           display: flex;
           align-items: center;
           padding: 15px 15px;
           border-bottom: 1px solid #282828;
       }


       .data-row:hover {
           background-color: #282828;
           cursor: pointer;
       }


       .header-item,
       .column {
           padding: 0 10px;
           white-space: nowrap;
           overflow: hidden; 
           text-overflow: ellipsis; 
           flex-shrink: 0; 
       }
      
  
      
      
       .header-row .header-item:nth-child(1),
       .data-row .column:nth-child(1) { width: 40px; }


       /* Колонка 2: Name (Назва) */
       .header-row .header-item:nth-child(2),
       .data-row .column:nth-child(2) { width: 20%; font-weight: bold; }


       /* Колонка 3: Type (Тип) */
       .header-row .header-item:nth-child(3),
       .data-row .column:nth-child(3) { width: 12%; }


       /* Колонка 4: Prize Pool */
       .header-row .header-item:nth-child(4),
       .data-row .column:nth-child(4) { width: 17%; text-align: right; }


       /* Колонка 5: Peak Viewers */
       .header-row .header-item:nth-child(5),
       .data-row .column:nth-child(5) { width: 17%; text-align: right; }


       /* Колонка 6: Tournaments Ongoing / Total */
       .header-row .header-item:nth-child(6),
       .data-row .column:nth-child(6) { width: 20%; text-align: right; }
      
       /* Колонка 7: ... (Три крапки/додаткова кнопка) */
       .header-row .header-item:nth-child(7),
       .data-row .column:nth-child(7) { width: 30px; text-align: center; }
      


       .header-item-right {
           text-align: right;
       }
      




       .rank {
           color: #999;
       }


       .type-tag {
           background-color: #333;
           color: #fff;
           padding: 4px 8px;
           border-radius: 4px;
           font-size: 0.8em;
           text-align: center;
       }
       .mobile-tag { background-color: #384236; color: #4CAF50; }
       .pc-console-tag { background-color: #363a42; color: #8C9EFF; } 


       .peak-viewers {
           color: #e91e63;
           font-weight: bold;
       }
       .prize-pool, .tournaments {
           color: #e0e0e0;
       }


       .tournaments {
           color: #4CAF50; 
           font-size: 0.9em;
       }
      
       .ellipsis {
           color: #999;
           cursor: pointer;
           font-size: 1.2em;
       }


       .tournament-total {
           color: #999;
           font-size: 0.8em;
       }
